.TodoItem {
    max-width: 75%;
    border: 2px solid rgb(26, 149, 221);
    margin: 20px auto;
    border-radius: 2rem;
    padding: 1rem;
    position: relative;
    box-shadow: 0 4px 4px rgba(49, 138, 172, 1);
    background-color: aliceblue;
    font-size: 24px;
    max-height: 5vh;
    text-overflow: ellipsis;
}

.TodoItem__Text {
    padding: 2rem;
}

.TodoItem__DeleteButton {
    font-size: 32px;
    position:absolute;
    right: 1.5%;
}

.TodoItem__DeleteButton:hover {
    color:red;
    cursor: pointer;
}

.TodoItem__Check {
    font-weight: bold;
}
.TodoItem__Check:hover {
    color: rgb(26, 149, 221);
    cursor: pointer;
}

.TodoItem__Check:active {
    color: black;
}
.TodoItem__Check--completed {
    color: green;
}

.TodoItem__Text--completed {
    text-decoration: line-through;
}