.CreateButton{
    font-size: 6rem;
    position: fixed;
    bottom: 5%;
    right: 5%;
    color: green;
    border-radius: 100%;
    background-color: aliceblue;
    padding: 0;
}

.CreateButton:hover {
    box-shadow: 0 4px 16px rgb(2, 102, 2);
    transition: all 0.2s ease;
    cursor: pointer;
}

.CreateButton:active {
    background-color: rgb(2, 102, 2);
    color: aliceblue;
}