.TodoSearch {
    max-height: 5vh;
    min-width: 75%;
    max-width: 75%;
    display: block;
    margin: auto;
    font-size: 24px;
    padding: 1rem;
    border-radius: 2rem;
    border-color: transparent;
    background-color: aliceblue;
    

}

.TodoSearch:focus{
    outline-color: rgb(26, 149, 221);
}